/*
  Name: Justice Tolentino
  Date: 09.04.2026
  CSC 372-01

  This is the style.css file for my community event assignment. It changes the
  behaviors and characteristics of select elements in my index.html and event.html
  files.
*/

p {
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, garamond, serif;
}

h1 {
    font-weight: bold;
    font-size: 22pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
    color: #a4a400;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 18pt;
}

blockquote {
    text-indent: 10%;
    background-color: #FFFFA8;
}

ul {
    list-style-type: "⭐";
}